[Detector]

position_x = 3.4466
position_y = 0
position_z = -0.135


# Facing and updirection should be perpendicular
facing_x = -1
facing_y = 0
facing_z = 0

updirection_x = 0
updirection_y = 1
updirection_z = 0

radius = 0.09

acceptance_angle_phi = 6.282
acceptance_angle_theha = 3.1415

number_of_samples_phi = 10
number_of_samples_theta = 10

max_number_of_steps = 1000

# In Ev
energy = 50

[Simulation]

path = C:/temp/DP/SOLO06.spis5/SOLO06

boundary_temperature = 103000