[Detector]

position_x = 3.4466
position_y = 0
position_z = -0.135


# Facing and updirection should be perpendicular
facing_x = -1
facing_y = 0
facing_z = 0

updirection_x = 0
updirection_y = 1
updirection_z = 0

radius = 0.09

acceptance_angle_phi = 6.282
acceptance_angle_theha = 3.1415

number_of_samples_phi = 2
number_of_samples_theta = 2

max_number_of_steps = 1000

# In Ev
energy = 50

[Simulation]

path = C:\Users\matej\Desktop\VU\datafromsofie\S03_11.spis5\S03_11


[Saving]

name_prefix = sim1 

# Where graphs get saved by default 
default_output_path = ./temp

# Where we save the preprocessed pickle file containing the simulation 
default_pickle_path = ./temp

[Multithreading]

number_of_threads = 2


[Plotting]

# percentile for extremal values cutoff 
cutoff = 0.05


[Loading]
# Parses files only when they are needed 
lazy_loading = True

# Load only the final times from files in the numerical kernel - reduces size and load time
reduced_numerical_kernel_loading = True 
